<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Witcher Toolkit</title>
</head>
<body>
<h2>Actions disponibles :</h2>
<ul>
    <li><a th:href="@{/}">Accueil</a></li>
    <li><a th:href="@{/caracteristique/add}">Nouveau</a></li>
</ul>

<h1>Caractéristiques</h1>

<table style="border-collapse: collapse;">
    <thead style="font-weight: bold;">
    <tr>
        <td style="border: 1px solid black;">nom</td>
        <td style="border: 1px solid black;">description</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="caracteristique : ${caracteristiques}">
        <td style="border: 1px solid black;" th:text="${caracteristique.nom} + ' (' + ${caracteristique.code} + ')'"></td>
        <td style="border: 1px solid black;" th:text="${caracteristique.description}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>